.list_item {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
.list_item:not(:last-child) {
  border-bottom: #000 1px solid;
  margin-bottom: 3px;
}
.delete_button {
  width: fit-content;
  padding: 5px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 3px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.delete_button:hover {
  background-color: rgb(199, 46, 26);
  color: aliceblue;
}
